.venv/
/introduce/model.pth
introduce/data/
learning-pytorch/I-deeplearning-with-pytorch/data
learning-pytorch/I-deeplearning-with-pytorch/cifar_net.pth
/home/qk/Documents/python/python_programming/pytorch/fine-tuning/yelp_review_classifier/